extends ../layout
include ../components/organizationForm

block content
  .container
    h2= organization.name

    .col-md-9
      form.form-horizontal#organizationForm
        +organizationForm(organization)
        .form-group
          .col-sm-10.col-sm-offset-2
            button.btn.btn-primary.btn-block Enregister les modifications
    .col-md-3
      +panel-default("Administrateurs")
        .users.list-group
          each admin in organization.admins
            .list-group-item= admin.firstname + ' ' + admin.lastname
        form.form-group
          label Ajouter un administrateur
          .input-group
            input.form-control(type='email', placeholder='Email de l\'invité')
            span.input-group-btn
              button.btn.btn-primary Envoyer