mixin loginForm()
  .col-md-4
    input(type='text',name='username', placeholder='Nom d\'utilisateur').form-control
    input(type='password',name='password', placeholder='••••••••').form-control
    button.btn.btn-primary.btn-block Connexion
  .clearfix