extends layout

block content
    h2 Connexion
    form(action='/login', method='POST')
        .control
            label Nom d'utilisateur
            input(name='username')
        .control
            label Mot de passe
            input(name='password', type='password')
        .control
            input(type='submit', value='Se connecter')

    h2 Créer un compte
    p
        a(href='/inscription') Je suis producteur, commerçant ou restaurateur